.task_item {
    width: 90%; /* Tamanho padrão para telas pequenas */
    max-width: 100%; /* Não exceder a largura máxima da tela */
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 600px) {
    .task_item {
      width: 80%; /* Tamanho maior para telas médias */
    }
  }
  
  @media (min-width: 960px) {
    .task_item {
      width: 70%; /* Tamanho menor para telas grandes */
    }
  }
  
  @media (min-width: 1280px) {
    .task_item {
      width: 60%; /* Tamanho menor para telas muito grandes */
    }
  }
  